.AboutServiceSection {
    display: flex;
    padding-block: 90px;
    padding-inline: 39px;
    max-width: 81%;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    color: #191919;
    font-family: 'Montserrat Alternates';
    font-size: 42px;
    font-weight: 700;
}

.descriptionWrapper {
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.desciption {
    color: #191919;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.desciptionBold {
    color: #191919;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.slideInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 270px;
}

.slide {
    color: #191919;
    font-family: 'Montserrat Alternates';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.highlight {
    color: #9b51e0;
}

@media (max-width: 768px) {
    .AboutServiceSection {
        flex-direction: column;
        row-gap: 20px;
        padding-block: 40px 30px;
        padding-inline: 0;
        max-width: clamp(200px, calc(100vw - 20px) , 600px);
    }

    .title {
        font-size: 24px;
    }

    .aboutWrapper {
        display: contents;
        max-width: none;
    }

    .about {
        gap: 10px;
    }
    
    .descriptionWrapper {
        flex-direction: column;
        gap: 20px;
    }

    .slideInner {
        max-width: none;
        width: 100%;
    }

    .slide {
        font-size: 20px;
    }

    .title {
        font-size: 36px;
    }

    .desciption {
        font-size: 12px;
    }

    .desciptionBold {
        font-size: 12px;
    }
}