.hero {
    min-width: 1536px;
    width: 100%;
    height: clamp(805px, 100vh, 960px);

    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(21, 21, 21, 0.3) 78%
        ),
        url('./images/header/bg.png');

    background-size: cover;
    background-position: center;

    overflow: hidden;
    color: white;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.mainText {
    max-width: 478px;
    width: 100%;
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
}

.description {
    max-width: 401px;
    width: 100%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.marker {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: hsla(271, 70%, 60%, 1);
}

.imageInner {
    /* position: relative; */
    width: 50%;
}

.image {
    position: absolute;
    right: 10%;
    /* top: -40px; */
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.imageCatering {
    position: absolute;
    top: unset;
    bottom: 0%;
}

@media (max-width: 1225px) {
    .image {
        transform: scale(0.8);
        right: 20%;
    }

    .imageCatering {
        right: 10%;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .hero {
        position: relative;
        min-width: 100vw;
        /* align-items: center; */
        justify-content: end;
        flex-direction: column-reverse;
        padding-bottom: 30px;
        height: clamp(400px, 100vh, 960px);
    }

    .heroCatering {
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 0;
        gap: 50px;
        justify-content: center;
    }

    .content {
        align-items: center;
        width: clamp(200px, calc(100vw - 20px), 500px);
    }

    .contentCatering {
        width: clamp(200px, calc(100vw - 180px), 500px);
    }

    .description,
    .mainText {
        text-align: center;
        font-size: 32px;
    }

    .description {
        font-size: 16px;
    }

    .imageInner {
        height: clamp(340px, 100%, 100vw);
        width: 98%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .imageInnerCatering {
        height: auto;
    }

    .image {
        position: relative;
        height: clamp(340px, 100%, 100vh);
        width: 90vw;
        right: 10%;
        transform: scale(1);
        border-top-left-radius: 50%;
        border-top-right-radius: 20%;
        aspect-ratio: 1;
    }
}
