.hero {
    min-width: 1536px;
    width: 100%;
    min-height: 805px;
    height: 100%;

    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(21, 21, 21, 0.3) 78%
        ),
        url('./images/header/bg.png');

    background-size: cover;
    background-position: center;

    overflow: hidden;
    color: white;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.mainText {
    max-width: 478px;
    width: 100%;
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
}

.description {
    max-width: 401px;
    width: 100%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.marker {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: hsla(271, 70%, 60%, 1);
}

.imageInner {
    /* position: relative; */
    width: 50%;
}

.image {
    position: absolute;
    right: 0px;
    top: -40px;
    z-index: 0;
    pointer-events: none;
}

.imageCatering {
    position: absolute;
    bottom: 10%;
}

@media (max-width: 1225px) {
    .content {
        margin-inline: 40px;
    }

    .image {
        top: -40%;
        left: 0;
    }
}

@media (max-width: 768px) {
    .hero {
        position: relative;
    }

    /* .imageInner {
        position: absolute;
    } */

    .content {
        justify-content: start;
        margin-top: 150px;
    }

    .mainText {
        max-width: none;
    }

    .description {
        max-width: 327px;
    }

    .image {
        top: 0;
        left: 40%;
        /* transform: scale(1.3); */
    }
}
