.getSection {
    min-width: 1536px;
    width: 100%;
    min-height: 805px;
    height: 100%;

    background: linear-gradient(
            to bottom,
            hsla(0, 0%, 100%, 0.94),
            hsla(0, 0%, 100%, 0.74)
        ),
        url('/images/getBg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-block: 30px;
    color: white;
}

.title {
    color: #191919;
    font-family: 'Montserrat Alternates';
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 222px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;
}

.productCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all ease 0.3s;
}

.imgWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 282px;
    width: 100%;
    max-height: 198px;
    height: 100%;
}

.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.description {
    max-width: 282px;
    width: 100%;
    max-height: 56px;
    height: 100%;

    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);

    color: #191919;

    font-family: 'Montserrat Alternates';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;
    padding: 14px 31px;
}

.order {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #fff;
    background: #f2994a;
    max-width: 906px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    padding-inline-start: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.label {
    color: #fff;
    font-family: 'Montserrat Alternates';
    font-size: 22px;
    font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
    .order:hover {
        transform: scale(1.01) translateY(-2px);
        box-shadow: 0 0 40px #f2994a;
    }

    .productCard:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1225px) {
    .getSection {
        padding: 39px;
        flex-direction: column;
        align-items: center;
    }

    .title {
        max-width: 343px;
    }

    .img {
        transform: scale(0.8);
    }

    .description {
        max-width: 210px;
        max-height: 45px;
        padding: 12px 34px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .getSection {
        gap: 40px;
        padding-top: 20px;
    }

    .title {
        font-size: 32px;
        text-align: center;
    }

    .grid {
        display: contents;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 10px;
    }

    .description {
        max-height: none;
        height: fit-content;
    }

    .order {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        max-height: none;
        height: fit-content;
        width: clamp(100px, calc(50vw - 10px), 300px);
        margin: 0 auto;
        padding: 27px 8px 20px 8px;
    }

    .label {
        text-align: center;
    }

    .productCard {
        width: clamp(100px, calc(50vw - 10px), 374px);
        align-items: center;
    }
}
