.main {
    max-width: 1520px;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    /* overflow: hidden; */
    color: #191919;

    margin-bottom: 200px;
}