.howWorks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 90px;
}

.title {
    color: #191919;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.selector {
    color: #9b51e0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.howWorkElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    min-width: 206px;
    width: 100%;
    padding: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 0 24px rgb(224, 220, 220);
}

.description {
    max-height: 110px;
    height: 100%;
    max-width: 200px;
    color: #191919;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: all 0.3s ease;
}

.howWorkElement:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 0 24px rgb(185, 182, 182);
}

.howWorkElement:hover .description {
    color: #9b51e0;
    font-weight: 800;
}

@media (max-width: 1225px) {
    .howWorks {
        padding-inline: 39px;
        padding-block: 60px 90px;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .howWorkElement {
        max-width: 210px;
        max-height: 340px;
        gap: 25px;
        padding-inline: 5px;
    }

    .description {
        font-style: 15px;
    }
}

@media (max-width: 768px) {
    .howWorks {
        padding: 60px 10px;
    }

    .howWorkElement {
        max-width: clamp(200px, calc(100vw - 20px), 400px);
    }
}