.block {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-top: 45px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 208px;
    transition: 0.3s ease;
}

.button:last-child {
    max-width: 312px;
}

.button:last-child .amountBtn {
    padding: 14px 10px;
}

.amountBtn {
    padding: 14px 40px;
    border: none;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.amountBtnText {
    font-family: 'Montserrat Alternates';
    font-size: 22px;
    font-weight: 700;
    color: #191919;
}

.amountBtn:hover {
    background-color: #f7f3fc;
    box-shadow: 0 0 12px rgba(155, 81, 224, 0.4);
    transform: scale(1.04);
}

.active {
    background-color: #9b51e0;
    box-shadow: 0 0 16px #9b51e0;
}

.active:hover {
    background-color: #9b51e0;
    box-shadow: 0 0 16px #9b51e0;
}

.active .amountBtnText {
    color: #fff;
}

.desciptionBtn {
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

@media (max-width: 1225px) {
    .amountBtn {
        padding: 10px 20px;
    }

    .amountBtnText {
        font-size: 16px;
        text-wrap: nowrap;
    }

    .desciptionBtn {
        margin-top: 7px;
    }

    .button:last-child .amountBtn {
        padding: 10px 20px;
    }
}