.reasonSection {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding-block: 90px 40px;
}

.head {
    color: #191919;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 42px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.reason {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    text-align: center;

    max-width: 386px;
    width: 100%;
    transition: 0.3s ease;
}

.imgWrapper {
    display: block;
    position: relative;
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.08));
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.title {
    color: #191919;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    max-height: 44px;
    height: 100%;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
    border: none;
}

.description {
    color: #191919;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

@media (hover: hover) and (pointer: fine) {
    .reason:hover {
        transform: scale(1.1) translateY(-3px);
    }
}

@media (max-width: 1225px) {
    .reasonSection {
        gap: 40px;
        padding-block: 80px;
    }

    .head {
        font-size: 36px;
    }

    .reason {
        max-width: 290px;
    }

    .title {
        max-height: 88px;
    }
}

@media (max-width: 768px) {
    .reasonSection {
        gap: 24px;
        padding-block: 80px 55px;
    }

    .container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .head {
        font-size: 24px;
    }

    .reason {
        max-width: calc(100vw - 20px);
        gap: 16px;
    }

    .imgWrapper {
        margin-bottom: 10px;
    }

    .title {
        height: fit-content;
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }
}
