.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 600px;
    height: auto;
    padding: 40px 125px 28px 125px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.closeButton {
    max-width: 48px;
    max-height: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 18px;
    top: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.closeButton:hover {
    background-color: rgb(58, 57, 57);
}

.closeButton img {
    width: 60%;
    height: 60%;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}