.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.dropdownActive {
    top: 100%;
}

.listItem {
    padding: 20px 15px;
    cursor: pointer;
}

.listItem.activeItem {
    background: #eee;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.listTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.listItem.activeItem .listTitle {
    color: #f2994a;
}

.itemSelected {
    display: none;
}

.listItem.activeItem .itemSelected {
    display: block;
}

.listInfo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.listDesciption {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
}

@media (hover: hover) and (pointer: fine) {
    .listItem:hover {
        background: #f5f5f5;
    }
}
