.covidSection {
    width: clamp(800px, 79vw ,calc(100vw - 78px));
    margin: 0 auto;
    margin-top: 50px;
}

.covid {
    background: url('images/covid.png');
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 20px;
    padding-inline-start: 30px;
    padding-block: 30px;
}

.title {
    color: #fff;
    font-family: 'Montserrat Alternates';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desciption {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@media (max-width: 1225px) {
    .covid {
        padding-block: 25px;
        padding-inline: 25px;
    }
}

@media (max-width: 768px) {
    .covidSection {
        max-width: calc(100vw - 20px);
        margin-top: 80px;
    }

    .title {
        text-align: center;
        font-size: 20px;
    }

    .desciption {
        text-align: center;
        font-size: 14px;
    }
}
