.footer {
    display: flex;
    flex-direction: row;
    padding-block: 45px;
    justify-content: center;
    gap: 210px;
    background: #fcf9ff;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 98px;
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.blog {
    color: #9b51e0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.blog:hover {
    transform: scale(1.2);
}

.meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    justify-content: center;
}

.location {
    color: #191919;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 700;
}

.copyright {
    color: #191919;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
